.shinytimer-container {
  display:flex; 
  justify-content:center;
}

.hidden {
  visibility: hidden;
}

.series-headers {
  font-size: 22px;
  text-align: center;
}

#workout_results {
  font-size: 20px;
}
